* {
  margin: 0;
  box-sizing: border-box;
}
div {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: pink;
}
.banner {
  background: url(/images/smoothie.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 1200px;
}
.header {
  background: linear-gradient(rgba(227, 255, 69, 0.5), rgba(253, 15, 15, 0.5)),
    url(/images/smoothie.jpg);
  background-size: cover;
  background-attachment: fixed;
}
